/********************************************************************************************
Root variables
********************************************************************************************/
:root {
	--clr-white-actual: hsl(0, 0%, 100%);
	--clr-white: hsl(226, 21%, 88%);
	--clr-black: hsl(203, 62%, 4%);

	--clr-accent: hsl(33, 83%, 57%);
	--clr-accent: hsl(208, 78%, 56%);
	--clr-accent-trans: hsla(208, 78%, 56%, 0.2);
	--clr-bg-blue: hsl(207, 71%, 8%);
	--clr-bg-blue-light: hsl(213, 31%, 7%);
	--clr-bg-blue-dark: hsl(213, 100%, 2%);

	--ff-def: system-ui;

	--fw-400: 400;
	--fw-700: 700;

	--body-max-width: 1170px;
}

/********************************************************************************************
CSS resets
********************************************************************************************/
/* Set border-box */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin and padding, set element font behavior */
* {
	margin: 0;
	padding: 0;
	min-width: 0; /* Prevent strange overflows :: Suggested by Josh Comeau https://www.joshwcomeau.com/css/interactive-guide-to-flexbox/#the-minimum-size-gotcha-11 */
	font: inherit;
}

/* Make headings wrap nicely */
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/* Better readability for long paragraphs */
p {
	max-width: 75ch;
	text-wrap: pretty; /* Prevent orphans */
}

html {
	color-scheme: dark light; /* Set color theme */
	hanging-punctuation: first last; /* Ensure prettier text lines */
}

/* Set global style and size */
body {
	min-height: 100vh; /* Fallback for unsupported browsers */
	min-height: 100svh;
	font-family: var(--ff-def);
	color: var(--clr-white);
	accent-color: var(--clr-accent);
}

/* Un-fruck media behavior */
img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

/* Remove list styles */
nav ul li {
	list-style: none;
}

/* Better scroll behavior while respecting preference */
@media (prefers-reduced-motion: no-preference) {
	:has(:target) /* Takes in-page box-scrolling into account */ {
		scroll-behavior: smooth;
		scroll-padding-top: 2rem; /* Give some head room */
	}
}

/********************************************************************************************
Sections
********************************************************************************************/
body {
	max-width: var(--body-max-width);
	margin-inline: auto;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

header,
footer {
	background-color: var(--clr-bg-blue-light);
	padding: 2rem;
}

main {
	padding: 2rem;
	background-color: var(--clr-bg-blue-dark);
}

#portfolio-items {
	display: grid;
	gap: 2rem;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

/********************************************************************************************
Typography
********************************************************************************************/
h1 {
	font-size: 3rem;
	font-weight: var(--fw-700);
	margin-bottom: 1.5rem;
}

h2 {
	font-size: 2rem;
	font-weight: var(--fw-700);
	margin-bottom: 1rem;
}

h3 {
	font-size: 1.5rem;
	font-weight: var(--fw-700);
	margin-bottom: 0.85rem;
}

.sub-heading {
	margin-top: -1rem;
}

a {
	color: var(--clr-accent);
	text-decoration: none;

	&:is(:hover, :focus, :active) {
		text-decoration: underline;
	}
}

.text-center {
	max-width: 100%;
	text-align: center;
}

/********************************************************************************************
Elements
********************************************************************************************/
ul {
	margin-block: 1rem;
}

.footer-img {
	max-width: 3rem;
	margin-inline: auto;
	transition: transform 0.2s ease-in-out;

	&:is(:hover, :focus, :active) {
		transform: rotate(15deg);
	}
}

/********************************************************************************************
Components
********************************************************************************************/
/* Portfolio items */
.portfolio-item {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	border: 1px solid var(--clr-accent-trans);
	border-radius: 1rem;
	background-color: var(--clr-bg-blue);

	&:is(:hover, :focus, :active) {
		border: 1px solid var(--clr-accent);
		box-shadow: 0.05rem 0.15rem 1rem 0.15rem var(--clr-accent-trans);
	}

	& > * {
		flex: 1;
	}

	& img {
		object-fit: cover;
		object-position: top;
		max-height: 22rem;
		width: 100%;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		border-top-left-radius: 1rem;
		border-bottom-left-radius: 1rem;
	}

	& div {
		padding: 1rem;

		& ul {
			margin-left: 1rem;
		}
	}
}

/********************************************************************************************
Mobile media queries
********************************************************************************************/
@media (max-width: 561px) {
	#portfolio-items {
		grid-template-columns: 1fr;
	}

	.portfolio-item {
		flex-direction: column;
		flex-direction: column-reverse;

		&:is(:hover, :focus, :active) {
			& img {
				box-shadow: 0 -0.15rem 1.5rem 0.15rem var(--clr-bg-blue-dark);
			}
		}

		& img {
			border-top-right-radius: 0;
			border-bottom-right-radius: 1rem;
			border-top-left-radius: 0;
			border-bottom-left-radius: 1rem;
		}
	}
}
